.container {
    display: flex;
    flex-wrap: nowrap;
    background-color: honeydew;
    border-radius: 5vw;
}

.background {
    background-image: url(./Nelayan-pantai-sidem-popoh.jpg);
    opacity: 0.8;
    width: 40%;
    height: 100%;
    padding: 30vh 20vw;
    margin-top: 0;
}

.huruf {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;    
}

.prediksi {
    height: 100%;
    margin: 0 auto;  
    /* opacity: 0.5;
    margin: auto; */
}

.hidden {
    display: none;
    
}

.show {
    display: inline-block;
}

.prediksi p {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding: 5vw;
}

ul li {
    padding: 10px 10px 10px 5px;
    display: inline-block;
    margin: auto 1vw;
    min-width: 80px;
    text-align: center;
    border:1px solid black;
    border-radius: 6px;
    background-color: black;
    color: blanchedalmond;
    opacity: 0.7;
    text-decoration: none;
}

.prediksi ul li:hover {
    background-color: blanchedalmond;
    color: black;
}

.hidden div p {
    text-align: center;
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 2vw;
}

.info {
    width: 28vw;
    height: 100%;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
    background-color: white;
    border: 3px dashed gray;
    border-radius: 5vw;
}

.info1 {
    background-color: #34626c;
    font-weight: 300;
}

.info2 {
    background-color: #59886b;
    font-weight: 300;
    margin-top: 0px;
}

.info3 {
    background-color: #f5b461;
    font-weight: 300;
}

.info4 {
    background-color: #bbbbbb;
    font-weight: 300;
}

.info5 {
    background-color: #c05555;
    font-weight: 300;
}

.info1, .info5 {
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 3vw;
}

.info2, .info3, .info4 {
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 2vw;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Roboto;
    padding: 20px;
    background-color: #34626c;
    border-radius: 1vw;
    color: blanchedalmond;
}

th,td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: sandybrown;
    color: black;
    font-weight: 500;
}
